body
{
    color: blue;
<<<<<<< HEAD
    text-align: center;
    font-family: "Courier";
=======
    text-align: left;
>>>>>>> cabecera
}

#container
{
	border: 1px solid #DDD;
	width: 70%
}

#container h1 {
	font-size: 55px
}

#cabecera {
	background: #33a;
	color: #FFE900;
	text-align: left;
	font-size: 65px;
	border: 2px solid #FFE900;
	width: 70%;
	padding: 0.5em
}